.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .project {
        text-decoration: none;
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        gap: 1rem;
        transition: 0.2s;
        overflow: hidden;

        p {
            padding: 1rem;
            background-color: white;
            position: relative;
            font-weight: 600;
        }

        .thumbnail {
            background-image: url(https://picsum.photos/200/300);
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            transition: 0.2s;
            filter: brightness(0.8);
            transform: scale(1.05);
        }

        &:hover {
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
            .thumbnail {
                filter: brightness(1);
                transform: scale(1);
            }
        }
    }
}
