{% extends "base.html" %} {% block head %}
<title>Computer Programming and Web Development</title>
{% endblock %} {% block content %}

<div class="banner"></div>

<div class="container">
    <h1 class="title">Computer Programming and Web Development</h1>
    <h3>Assabet Valley Regional Technical High School</h3>
    <p>
        <a href="{{ get_url(path='@/projects/_index.md') }}"
            >Click here to see the projects.</a
        >
    </p>
    <p>
        <a href="https://github.com/Assabet-CPWD/assabet-cpwd.github.io"
            >GitHub</a
        >
    </p>
</div>
{% endblock content %}
