{% extends "base.html" %}

{% block head %}
    <title>{{ page.title }} | CPWD</title>
    <link rel="stylesheet" href="/projects-page.css" />
{% endblock %}

{% block content %}
    <main>
        <h1>{{ page.title }}</h1>
        <p>
            Created {{ page.date | date(format="%B %e, %Y") }}<br>
            Updated {{ page.updated | default(value=page.date) | date(format="%B %e, %Y") }}
        </p>
        <br>
        <dl>
        {% for key, pageTerms in page.taxonomies %}
            {% set taxonomy = get_taxonomy(kind=key) %}
            <dt><h3><a href="{{ taxonomy.permalink }}">{{ key | title }}</a></h3></dt>
            <dd>
                {% for term in taxonomy.items %}
                    {% if pageTerms is containing(term.name) %}
                        <a href="{{ term.permalink }}">{{ term.name }}</a>
                    {% endif %}
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
        <br>
        {{ page.content | safe }}
    </main>
{% endblock content %}
