{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/projects.css" />
<title>{{ section.title }} | CPWD</title>
{% endblock %} {% block content %}
<main>
    <h1 class="title">{{ section.title }}</h1>
    <div class="container">
        {% for page in section.pages %}
        <a class="project" href="{{ page.permalink | safe }}">
            <div class="thumbnail"></div>
            <p>{{ page.title }}</p>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock content %}
