{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/projects.css" />
<title>{{ term.name | title }} | CPWD</title>
<meta property="og:title" content="{{ term.name | title }}" />
{% endblock %} {% block content %}
<main>
    <h1 class="title">{{ term.name }}</h1>
    <div class="container">
        {% for page in term.pages %}
        <a class="project" href="{{ page.permalink }}">
            <div class="thumbnail"></div>
            <p>{{ page.title }}</p>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock content %}
